/* Navbar Styles */
*{
  margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1565c0;
    padding: 25px 30px;
    color: white;
  }
  
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .bus-icon {
    font-size: 24px;
    color: white;
  }
  
  .nav-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links li {
    font-size: 1.2rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  